@media (max-width: 1440px) {
    * {
        font-family: 'Raleway', sans-serif;
        box-sizing: border-box; /*  bordure et remplissage défini pour la page */
        margin: 0;
    }
        
    :root {
        --main-color: #0065FC;
        --main-bg-color: #F2F2F2;
        --filter-bg-color: #DEEBFF;
    }
        
    .fa-solid {
        color: var(--main-color);
    }
        
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
        
    a:-webkit-any-link {
        font-family: 'Raleway', sans-serif;
        color: var(--blue, #0065FC);
        height: 22px;
        justify-content: space-between;
        padding: 19px;
        cursor: pointer;
        text-decoration-color: var(--blue, #093577)  ;
    }
    
        
    
    }
    ul {
        display:flex;
        flex-wrap: wrap; 
    }
    li {
        
        display:flex;
        flex-direction: row;
        color: var(--blue, #0065FC);
        font-family: 'Raleway', sans-serif;
        height: 22px;
        justify-content: space-between;
        padding: 19px;
    }
    p {
       
        color: #000;
        
    }
      
            
    .a:hover {          /* coloration au survol  */
        color: var(--blue, #0065FC);
        font-weight: 600;
        
    }
    /************  header  **************************/
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 20px;
       
    }
    
    .div {
        display: flex;
    }
    
    img#logoBooki {
        height: 55px;
        padding-top: 30px;
        padding-left: 20px;
    }
    
    .a#hebergementNav .a#activiteNav {
        display: flex;
        flex-direction: row;
        margin: 150px;
        padding-right:100px;
        margin-right: 15px;
    }  
    
    
    .menu {
        font-weight: 500;
        gap: 15px;
        align-self:auto
    }
    
    nav {
        display: flex;
    } 
    
    /************** section info group --> navigation ****************************************/
    section.infogroup {
        display: flex;
        flex-direction: column;
        margin:auto;
        width: 100%;
        
        padding: 30px;
        box-sizing: border-box;
    }
    /************** sous-section "headline"= rechercher        --> navigation ****************************************/
    
    h1 {
        font-size: 22px;
        font-weight: bold; /*pour mettre la police légèrement gras */
        margin: 0;
    }
    h2 {
        font-weight: lighter; /*pour mettre la police légèrement gras */
        font-size: 16px;
    }
    /************** sous-section "searchBar"= recherche --> navigation ****************************************/
    .zoneRecherche {
        padding-left: 46px;
        padding-top: 30px;
    }
    .zoneRecherche p {
        padding-top: 10px;
        padding-bottom: 20px;
        
    }
    form {
        display: flex;
        margin-top: 0;
    }
    input {
        padding: 15px;
        width: 235px;
        border: 1px solid #F2F2F2;
        color: #000000;
        font-weight: bold;
        font-size: 18px;
        outline: none; /* Pour supprimer le contour */
    }
        input[type=text]:focus {
        border: 1px solid #F2F2F2;
    }
    /* Modifie la couleur de fond de l'autocomplétion */
        input:-webkit-autofill,
        input:-webkit-autofill:hover, 
        input:-webkit-autofill:focus {
        box-shadow: 0 0 0px 1000px white inset;
        -webkit-box-shadow: 0 0 0px 1000px white inset;
    }
    /* Modification de la police dans le champs de recherche */
    ::placeholder {
        color: black;
        font-weight: bold;
        font-size: 18px;
        opacity: 1; /* pour foncer la couleur de la police dans firefox */
    }
    /* Mise en forme du bouton rechercher sur ordinateur et tablette */
    .boutonRechercher_DesktopTablette {
        background-color: #0065FC;
        color: white;
        width: 133px;
        border: 0px solid #F2F2F2;
        border-radius: 0px 18px 18px 0px;
        padding: 15px;
        font-weight: bold;
        font-size: 17px;
    }
    .boutonRechercher_DesktopTablette:hover, .boutonRechercher_DesktopTablette:focus, .boutonRechercher_DesktopTablette:active {
        border: 1px solid #DEEBFF;
        cursor: pointer;
    }
    /* Icône barre de recherche */
    .fa-location-dot {
        font-size: 17px; /* Dimensionnement de l'icône "localisation" */
        border: 2px solid #F2F2F2;
        background-color: #F2F2F2;
        padding: 15px;
        padding-left: 18px;
        border-radius: 18px 0px 0px 18px;
    }
    /************** sous-section "filterBar"=  Filtres --> navigation ****************************************/
    .filtre {
        display: flex;
        flex-direction: row row-reverse;
        border: 0;
        line-height: 2.7;  /* règle la hauteur du texte dans le button */
        padding: 4px 19px;
        font-size: 22px;
        text-align: center;
        color: #fffefe;
        background-color:#fffefe  ;
        margin-left: 10px;
        padding-right: 30px;
        gap: 10px;
        border-radius: 25px;
        border: 2px solid var(--grey-tint-2, #D9D9D9);
    }
    .filtre:hover {
        background-color: blue;
    }
    
    .filtre:active {
        box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
    }
    span {
        display: inline-block;
        flex-direction: row-reverse;
    }
    #filterBar{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding-left: 46px;
        padding-top: 30px;
        align-items: baseline;
    }
    button {
        display: flex;
        flex-wrap: nowrap;
        margin: 0em;
        padding: 19px 4px;
        border-width: 2px;
        gap:10px;
    }
    
    .aspect_filtres:hover, .aspect_filtres:focus, .aspect_filtres:active{
        color: #0065FC;
        cursor: pointer;
    }
    
    h4 {
        font-size: 18px;
        
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        align-items: center;
    }
    
    h5 {
        display: flex;
        flex-direction: row;
        font-family: 'Raleway', sans-serif;
        font-size: 1rem;
        justify-content: center;
        color: #0065FC;
        padding-left: 19px;
        align-items: center; 
    }
    .fa-money-bill-wave, .fa-person,.fa-fire, .fa-heart {
        display: flex;
        flex-wrap: nowrap;
        padding-left: 17px;
        line-height: 2;
        
    } /* pour recentrer le billet qui est plus large que les autres icônes */
    
    
    /************** sous-section "infoBar"= information        --> navigation ****************************************/
    .infoIcon fa-circle-info fa-xs {
        display: flex;
        
    }
    h3 {
        font-weight: lighter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        gap: 10px;
        align-self: stretch;
    }
    .infoBar {
        display: flex;
        flex-wrap: wrap;
    }
    
    
    /************** section de hébergement et populaire ****************************************/
    section.offers {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin:auto;
        background-color: var(--main-bg-color);
        border-radius: 20px;
        padding: 30px;
        box-sizing: border-box;
      
    }
    
    
    /************** section de "hébergement" ************ ****************************************/
    section.offersMain {
        display: inline-flex;
        flex-wrap: wrap;
        width: 70%;
        padding:10px;
        margin:50px;
        background-color:plum; 
    }
    /************** section "populaire" ************ ****************************************/
    section.offersSponsored {
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        padding:10px;
        height: 400px;
        margin:auto;
        background-color: greenyellow;
    }
    /************** section de activité ****************************************/
    
    
    section.activite {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        height: 200px;
        margin:auto;
        gap:20px;
        background-color: rgb(66, 168, 226);
    }
    /* container  */
    .container {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 10px;
        border: solid 2px #000
         
    }
    .box {
        display: flex;
        flex-direction: row;
    }
    
    
    .spaceAround {
        justify-content: space-around;
         width: 100%;  
    }
    .element {
       
        min-height: 150px;
        min-width: 200px;
        
    }
    .element1 {
        background-color : orange;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        flex-shrink: 1;
    }
    .element2 {
        background-color : blue;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        flex-shrink: 1;
       
    }
    .element3 {
        background-color : rgb(7, 73, 7);
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start:1;
        grid-row-end: 2;
        flex-shrink: 1;
        
    }
    .element4 {
        background-color: rgb(199, 238, 59);
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        flex-shrink: 1;
        
    }
    .element5 {
        background-color: rgb(76, 182, 182);
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
        flex-shrink: 1;
       
    }
    .element6 {
        background-color: rgb(145, 58, 58);
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        flex-shrink: 1;
       
    }
    
    
    
    /****** Populaires ***********/
    .populaires {
        width: 32%;
    }
    
    .populaires-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .populaires-cards .card {
        display: flex;
        margin-top: 33px;
    }
    
    .populaires-cards img {
        width: 33%;
        height: 136px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    
    .populaires-cards .card-content {
        width: 67%;
        padding-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
    }
    
    .populaires-cards .card-title {
        margin-top: 10px;
        margin-bottom: 4px;
    }
    
    .populaires-cards .card-subtitle {
        margin: 0;
    }
    
    .populaires-cards .card-rating {
        margin-bottom: 5px;
    }
    
    /****** footer ***********/
    section.footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        height: 200px;
        margin:auto;
        gap:20px;
        background-color:rosybrown;
    }

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }
    section.offers {
        flex-direction: column;
        width: 100%;
    }

    .hebergements {
        width: 100%;
    }

    section.offersSponsored {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        padding:10px;
        height: 400px;
        margin:auto;
        background-color: greenyellow;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .container {
        flex-shrink: 2;
        
    }
    }

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /*******  header ***********/
    header {
        display: flex;
        flex-direction: column;
    }  
    #logoBooki {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-left: 0;
    }
    a:-webkit-any-link {
        color: var(--blue, #0065FC);
        cursor: pointer;
        
    }
        
       
    .logo {
        justify-content: center;
    }   
    
    .a#hebergementNav .a#activiteNav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin:auto;
        padding: 25px;
        justify-content: space-around;
        border-bottom: 4px solid #F2F2F2;
        padding-bottom: 20px;
        color: var(--blue, #0065FC);
        text-align: center;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    
    .menu {
        display: flex;
        flex-direction: row;
        margin:auto;
        padding-top: 25px;
        padding-left: 10px;
        justify-content: space-between;
        gap:20px;
        border-color: #0065FC;
        border-bottom-color:#0065FC;
    }
      
    nav {
        
        flex-direction: row;
        justify-content: center;
        align-items: center;
      
    } 
    

    #hebergementNav, #activiteNav {
        display: flex;
        flex-direction: column;
    }
    /*******  main **********/
        
     /********************************* Partie SearchBar = "Recherche" ***************************/
     #zone_recherche{
        width: 100%;
    }
    input{
        width: 100%;
    }
    /* On masque le bouton rechercher */
    .bouton_rechercher_desktop_tablette{
        display: none
    }
    /* Affichage du bouton loupe pour mobile */
    .bouton_rechercher_mobile {
        background-color: #0065FC;
        color: white;
        border: none;
        border-radius: 18px;
        padding-left: 19px;
        padding-right: 19px;
        /* position relative et rigth 15px pour décaler le bouton "loupe" légèrement vers la gauche sur le champ de recherche */
        position: relative;
        right: 15px;
    }
    /* Dimensionnement de l'icône "loupe" */
    .loupe{
        font-size: 18px;
    }
    /* Réduire la taille de l'écriture par défaut dans le champ de recherche input pour éviter troncage */
    ::placeholder {
        font-size: 12px;
    }    
    /******************************************* filterBar = filtres*********************************/
    
   

        /****   *****/
   
    
    section.offers {
        flex-wrap: wrap-reverse;
        width: 100%;
    }
    section.offersMain {
        flex-wrap: wrap;
        width: 100%;
    }
    
    section.Sponsored {
        
        flex-direction: column;
    }
    section.activite {
        flex-direction: column;

    }
    .box {
        display: flex;
        flex-direction: column;
    }
    
    section.footer {
        flex-direction: column;
    }
    .logoReservia {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    
    .element1 {
        background-color : orange;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
      
    }
    .element2 {
        background-color : blue;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        
       
    }
    .element3 {
        background-color : rgb(7, 73, 7);
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start:3;
        grid-row-end: 4;
        
        
    }
    .element4 {
        background-color: rgb(199, 238, 59);
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
        
        
    }
    .element5 {
        background-color: rgb(76, 182, 182);
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 6;
        
       
    }
    .element6 {
        background-color: rgb(145, 58, 58);
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        flex-shrink: 1;
    }
}