
   

                   /* modif le 19/07/2023 par EDF*/ 
    * {
        
        font-family: 'Raleway', sans-serif;
        box-sizing: border-box; /*  bordure et remplissage défini pour la page */
        margin: 0;
    }
        
    :root {
        --main-color: #0065FC;
        --gris-fond: #F2F2F2;
        --couleur-bouton-filtre: #DEEBFF;
        --gris-decoration : #D9D9D9;
        
    }
        
    .fa-solid {
        color: var(--main-color);
    }
        
    body {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto;
        max-width: 1440px; /*taille maximum de l'affichage*/
        min-width: 320px; /*taille minimum de l'affichage*/
        gap:30px
    }

    main {
        display:flex; 
        flex-direction: column;
        padding: 0px 50px;
        gap: 35px
        
        
    }
        
    a {
        text-decoration: none;
        display:flex;
        flex-direction: column;
        color:#000;
    }
    
    p {
        display: flex;
        flex-direction: row;
        color: #000;
        font-size: 16px;
        text-size-adjust: 100%;
    }

    
    
 
    /************  header  **************************/
    /* contenant du header */
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        width:100%;
        padding-right: 50px;
        
    }
    
    
    /************partie logo   **************************/
    /* container du logo  */
    #logo-container {
        display: flex;
        padding: 30px 50px;
        align-items: start;
        justify-content: left;
        
    }
    /* image du logo  */
    #logo {
        display: flex;
        width: 50%;
        object-fit: cover;
    }
    
    /************ partie menu/navigation  **************************/
    /* contenant de la navigation  */  
    nav.menu {
        display: flex;
        flex-direction: row;
        width: 328.601px;
        padding: 0px 25px;
        align-items: center;
        gap: 68px;
         
        
    }
          
      /* bouton de la navigation au survol */  
    .activites-Nav:hover, .hebergements-Nav:hover, .activites-Nav:active, .hebergements-Nav:active  {          
        border-top-color: #0065FC;
        font-weight: 400;
        color: #0065FC;
        cursor: pointer;  /* petite main representant le lien cliquable*/
        align-items: start;
        
       
    }
    /* bouton de la navigation*/
    .activites-Nav {
        display: flex;
        flex-direction: row;
        font-size: 16px;
        width: 63px;
        height: 19px;
    }

    .hebergements-Nav {
        display: flex;
        flex-direction: row;
        font-size: 16px;
        width: 112px;
        height: 19px;
    }
    /* barre bleu au dessus des boutons navigation*/
    button.activites-Nav, button.hebergements-Nav {    
        padding-top: 35px;  /* releve la barre bleu*/
        background-color:transparent; 
        border-top-width: 2px;
        border-color: transparent;
        width: 100%;
        align-items: flex-start;
        
    }
    /* balise lien flexbox */
    a, button {
        display: flex;
        width: 100%;
       

    }
        
    /*************** section info-grouper"presentation,filtres et recherche" ********/
    /****** section partie "filtres et recherche" ******/
    section.info-grouper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 35px;
        align-self: stretch;
      
    }
    /***** article de présentation  *****/
    article.Presentation {
        display: flex;
        flex-direction: column;
        height: 53px;
        align-items: flex-start;
        gap: 8px;
        align-self: stretch;
    }
    /* titre presentation gras */
    h1 {
        display: flex;
        font-size: 22px;
        font-weight:bolder;
    }
    /* texte  de sous-presentation */
    
    
    
    /***** article barre de recherche *****/
    /* contenant de la barre de recherche  */
    .zone-de-Recherche {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 28%;  /* !!!reglage taille zone texte !!!*/
        height: 49px;
        gap: 24px;
        border-radius: 15px;
        outline: none; /* Pour supprimer le contour */
        border: 1px solid var(--grey, #F2F2F2);
        background: var(--white, #FFF);
    }    

    /* bouton de recherche */
    #form-bouton-recherche {
        display: flex;
        width: 100%;      
        height: 48px;
        position: relative;
        top: 1.8px;
       
    }
    
    /* partie "avant" du bouton de recherche */
    .fa-location-dot {
        display: flex;
        /* rectangle de l'icone */
        border: 2px solid #F2F2F2;
        background-color: #F2F2F2;
        padding-right: 16px;
        padding-left: 18px;
        border-radius: 15px 0px 0px 15px;
        line-height: 2.5;
    }

    /* zone de frappe de texte */
    input {
        display: flex;
        flex-direction: row;
        border: 1px solid #F2F2F2;
        align-items: center;
        gap: 24px;
        height: 49px;
        width: 100%;
    }
    
    /* zone de frappe et texte de substitution  */
    ::placeholder {
        color: black;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        line-height: normal;
        font-weight: 700;
        font-size: 18px;
       
    }

    /* Mise en forme du bouton rechercher pour ordinateur et tablette */
    .bouton-Rechercher-Desktop {
        display: flex;
        background-color: #0065FC;
        color: white;
        width: 133px;
        height: 49px;
        padding: 15px 16px;
        align-items: center;
        gap: 10px;
        border-radius: 0px 15px 15px 0px;
        border: 1px solid var(--blue, #0065FC);
        font-weight: bold;
        font-size: 18px;
    }

    /* bouton rechercher pour mobile non-apparent */
    .bouton-Rechercher-Mobile {
        display:none;
       
    }
    
         /***** barre de filtre *****/
   /** contenue partie filtres **/

    .barre-de-filtre {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 50px;
        gap:15px;
    }

     /* container des boutons filtres (par 2) */
     
    .boite-a-filtres1, .boite-a-filtres2 {
        display: flex;
        flex-direction: row;
        gap:20px;
    }

    /* partie contenant des boutons filtres */
    #choix {
        display:flex;
        flex-direction: row;
        width: 100%;
        height: 50px;
        justify-content:start;
        gap:20px;
    }

    /* chacun des 4 boutons filtres */
    .filtre {
        display: flex; 
        flex-direction: row;
        width: 100%;
        height: 50px;
        padding: 4px 19px;
        justify-content: center;
        align-items: center;
        gap: 15px;
    /* contour du bouton */
        background-color:#fffefe; 
        border-radius: 25px;
        border: 2px solid var(--grey-tint-2, #D9D9D9);      
       

    }
    /* couleur au survol et activé des boutons filtres */
    .filtre:active, .filtre:hover {
        background-color:#DEEBFF; 
        border-radius: 25px;
        border: 2px solid var(--grey-tint-2, #D9D9D9);
    }
       
    /* a justement police des titres h3  */
    h3 {
        display: flex;
        flex-direction: row;
        font-size: 18px;
        align-items: start;
    }
    /* texte des barres de filtres */
    p.text-tri {
        font-size: 17px;
        font-weight: bold;
        display: flex; 
        flex-direction: row;
        color: #000;
    }
    
    /***** barre information  *****/
    /* modélisation de l'icone information */
    .fa-info  {
        display: flex;
        flex-direction: row;
        width: 24px; /* reglage hauteur */
        height: 24px;
        border: 2px solid #D9D9D9; /* bordure */
        background-color:#F2F2F2;  /* couleur de fond */
        padding-right: 5px;
        padding-left: 5px;
        border-radius: 25px; /* arrondi du l'icone info */
        line-height: 1; /* reglage alignement (haut/bas) de l'icone */
    }

    /* pointe le contenant de l'icone de la barre d'information */
    .info_icon {
        display: flex;
        flex-direction: row;
        gap: 10px;
       
    }    
     /* zone de texte de la barre d'information */
    .text-information {
        display:flex;
        font-weight: lighter;
        font-size: 16px;
    }
    /*barre d'information */
    article.barre-info {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 10px;
        
    }
    
    
    /************** section GROUP ******************/
    
    /* section contenu-grouper contenant 
    offre-hebergements  et  offre-populaires */
    section.contenu-grouper {
        display: flex;
        flex-direction:row;
        align-items: center;
        gap: 40px;
        align-self: stretch;
        width :100%;
    }
    
   
     /*****partie "hebergement a Marseille" *****/
   
    /*contenant zone "card hébergement" et titre */
    div.offre {
        display: flex;
        flex-direction: column;
        padding: 30px;
        align-items: flex-start;
        gap: 30px;
        align-self: stretch;
        border-radius: 15px;
        width: 100%;
        padding: 30px;
        
        background:#F2F2F2;
    }

     /*container boite à logements pour "card hébergement" */
    div.boite-a-logements {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
        grid-auto-rows: minmax(auto, auto);

       
        
        align-items: flex-start;
        align-content: flex-start;
        
        gap: 30px;
        padding: 0px;
        width: 100%;
        
    }
    
    /********** creation de "fiche-hebergment" **********/

    /*partie image card hebergment*/

    img.heberg {
        display: flex;                                       
        height: 124px;
        object-fit: cover;
        align-self: stretch;                      
        border-radius: 20px 20px 0px 0px;
        border: 5px solid rgb(255, 255, 255);
        width: 100%;
        

    }
     /* card "hebergement" */
    .fiche-hebergement {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;
        box-sizing: content-box;
        background-color: rgb(255, 255, 255);
        border-radius: 20px;
        width: 100%;
       
       
        /* Shadow/Card */
        box-shadow:0px 3px 15px 0px rgba(0, 0, 0, 0.10);
       
               
    }

    div, section, article {
        display: flex;
    }
     /* contenu de la card hébergement */
   
     div.fiche-contenu {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-content: center;
    }
    /* cadre texte de la card hébergement */
    .fiche-txt-heberg {
        display: flex;
        
        padding: 0px 15px;
        flex-direction: column;
        align-items: flex-start; 
        gap: 8px;
        align-self: stretch;
        width: 100%;
        border-radius: 0px 0px 20px 20px;
        background: #FFF;
    /* Shadow/Card */
        box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
    }
    /* titre de la card hébergement */
    .fiche-titre {
        display: flex;
        flex-wrap: wrap;
        font-weight: bolder;
        font-size: 15px;
        size-adjust: auto;
    }
            
    
    /* sous-titre de la card hébergement */
    .fiche-sous-titre {
        display: flex;
        flex-direction: row;
        align-self: stretch;
        font-weight: normal;
        font-size: 13px;
        size-adjust: auto;
    }

    /* systeme de notation étoilé */
    .notation {
        display: flex;
        flex-direction: row;
        width: 14.294px;
        height: 13.25px;
        flex-shrink: 0;
    }
    /* couleur etoile grise */
    .neutral-star {
        display: flex;
        color:  #DEEBFF;
    }

    /* taille des etoiles */
    #fa-star {
        display: flex;
        width: 14.294px;
        height: 13.25px;
    } 
    
    /* 2eme titre de la card main1 qui change selon ecran*/
    #deuxieme-titre {
        display: none;
    }

     /* taille du texte */
    .note {
        visibility: hidden;
    }
   
   
    
    
     /* symbole euro en gras */   
    span.euro {
        font-size: 14px;
        font-weight: 600;
        size-adjust: 70%;
    }
   
    /****** section offersSponsored / "populaire" *****/
    /* contenant de "cards populaires" */
    aside.offre-sponsors {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 30px;
        justify-content: center;
        padding: 30px;
        width: 429px;
        box-sizing: border-box;
        gap:30px;
        border-radius: 15px;
        background:#F2F2F2;
        

    }
           
    
    /* conteneur de "cards populaires" */
    div.container-sponso {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        align-self: stretch;
        
    }

    /*  contenaire du titre "les plus populaires" */
    div#titre-Populaire {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        align-self: stretch;
       
    }
    /*  ajustement des titres h2 dont le titre 
          "les plus populaires" */
    h2 {
        font-size: 22px;
        font-style: normal;
        font-weight: bold;
        text-size-adjust: auto;
    }

     /*  icone en flexbox */
    .fa-solid {
        display: flex;
    }

    /* cards "populaires" */
    div.fiche-populaire {
        display: flex;
        height: 144px;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        align-self: stretch;
        background:white;
        border-radius: 20px;
        list-style: none;
        width: 100%;
            
        /* Shadow/Card */
        box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
    }
    /* contenue cards "populaires" */
        
    

    /* cadre texte cards "populaires" */
    .fiche-txt-Pop {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        align-self: stretch;
        height: 119px;
        width: 100%;
    } 

     
    /*partie image de la card "populaires"*/
        
    img.populaire {
        display: flex;                                          
        height: 144px;
        width: 40%;
        object-fit: cover;
        align-self: stretch;                                            
        justify-content: start;
        border-radius: 20px 0px 0px 20px;
        border: 5px solid white; 
    }

    /**************************************************/
    /************** section de activité *************/
    
    
     /*  container partie "activites" */        
    section.activite {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        width: 100%;
        height: auto;
        gap: 30px;
        padding: 30px;
        background-color:white;
    }
     /*  titre partie "activites" */  
    .titre-activite {
        display: flex;
        font-size: 22px;
        font-weight: bold; /*pour mettre la police légèrement gras */
        height: 30.019px;
        align-self: stretch;
        color: #000;
    }
    /*  contenant des fiches "activites" */ 
    div.container-activ {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        height: auto;
        gap: 30px;
        align-self: stretch;
    }
   
    
    /*  contenu des cards "activites" */
    div.fiche-contenu-activite {
        display: flex;
        padding: 20px 19px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        align-self: stretch;
        border-radius: 0px 0px 20px 20px; 
        background: white;
        /* Shadow/Card */
        box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
    }
    
     /*   fiche "activites" */
    .fiche-Activite {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        
        border-radius: 20px;
        width: 100%;
        
        /* Shadow/Card */
        box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
    }
    /*  image partie "activites" */   
    img.activity {
        display: flex;                                          
        height: 380px;
        width: 100%;
        object-fit: cover;
        border-radius: 20px 20px 0px 0px;
        justify-content: flex-end;
        align-items: center;
        align-self: stretch;
        
        flex-basis: auto;
    }
    
    


    /******************************************************************************************************************************/
    /********************************************** footer ************************************************************************/
     /*  zone footer */
    section.fin-page {
        display: flex;
        flex-direction: row;
        width: 100%;
        background-color:#F2F2F2;
        gap:60.5px;

    }
    /*  définition des 3 colonnes du footer */
    div.footer-droit, div.footer-milieu, div.footer-gauche {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px;
        align-items: flex-start;
        gap: 15px;
        align-self: stretch;
       
    }
    /*  liens sur titre des 3 colonnes du footer */
    a.footer-propos, a.footer-assistance, a.footer-hebergements {

        display: flex;
        flex-direction: column;
        font-size: 18px;
        font-weight: bold;
        color: #000;
      
    }
    footer {
        display: flex;
               
    }

/* Le code ci-dessous correspond à la version responsive uniquement *************************************************************************** */

/****** Media queries ****************************************************************************************************************************/
/* Medium devices (tablets, less/equal than 1024px) **********************************************************************************************/
@media (max-width: 1024px) {

        /* contenant du header */
    header {
        box-sizing: border-box;
        padding: 0px;
    }  
/********************* header         ****************/
        /* container du logo  */
    #logo-container {
   
        padding: 30px 50px;
        box-sizing: content-box;
    } 
        /* image du logo  */
    #logo {
        width: 61.09px;
        height: 19px;
    }

/************ partie menu/navigation  **************************/
        /* contenant de la navigation  */
    nav.menu {
        padding: 0px 50px;
        align-items: center;
        gap: 68px;
    }
         /* bouton de la navigation au survol */




 /*************** section info-grouper "presentation,filtres et recherche" ********/
  
/** section partie "filtres et recherche" **/


 /** article de présentation  **/
    


 /***** article barre de recherche *****/
    /* contenant de la barre de recherche  */
    .zone-de-Recherche {
        display: flex;
        width: 40%;
        
    } 
    /* bouton de recherche */
     
   
    

    /* partie "avant" du bouton de recherche */
    .fa-location-dot {
        position:relative;
        top: 0.5px; 
    }
    /* zone de frappe de texte */
    input {
        width: 60%;
        height: auto;
    }

    /***** barre de filtre *****/
        /** contenue partie filtres **/

    .barre-de-filtre {
       
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
        width: 100%;
        height: 50px;
    }
    
    /* container des boutons filtres (par 2) */
    .boite-a-filtres1, .boite-a-filtres2 {
        
        flex-direction: row;
        align-items: start;
        justify-content: start;
    }
    /* partie contenant des boutons filtres */ 
    #choix {
        flex-direction: row;
        
        height: 50px;
        justify-self: start;
        
    }
    /* chacun des 4 boutons filtres */
    .filtre {
        padding: 4px 19px;
        align-items: center;
        gap: 10px;
    }
    /* couleur au survol et activé des boutons filtres */


    /* texte des barres de filtres */
    p.text-tri {
       font-size: 16px;
    }
    

 
/***** barre information  *****/

    
/* section contenant 
spacearround et  offerssponsored */
    section.contenu-grouper {
        flex-direction:column;
        flex-wrap: wrap;
        box-sizing: border-box;
        gap: 50px;
        width: 100%;
    }

/*****partie "hebergement a Marseille" *****/

    /*contenant zone "card hébergement" et titre */
    div.offre {
        justify-content: center;
        padding:30px;
        height: 100%;
        width: 100%;
        gap: 30px;
        background-color:#F2F2F2;
    }

    /*container frame15 et columb2 pour "card hébergement" */

    div.boite-a-logements {
        display: grid;
        
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
        grid-auto-rows: minmax(auto, auto);
    }
       
    /*partie image card hebergment*/

    /* card "hebergement" */
    .fiche-hebergement {
       
        justify-content: center;
        align-items: center;
        gap: 4px;
        
        background-color: rgb(255, 255, 255);
        border-radius: 20px;
        width: 100%;
       
        
        /* Shadow/Card */
        box-shadow:0px 3px 15px 0px rgba(0, 0, 0, 0.10);
       
               
    }
    /* contenu de la card hébergement */

    /* titre de la card hébergement */
    .fiche-titre {
        font-size: 14px;
        font-weight: bolder;
        text-size-adjust: 50%;
    }

     /* sous-titre de la card hébergement */
     .fiche-sous-titre {
        font-size: 11px;
        font-weight: normal;
        text-size-adjust: 50%;
        
     }

    /* systeme de notation étoilé */
    /* couleur etoile grise */
    /* taille des etoiles */

      /* 2eme titre de la card main1
      qui change selon ecran*/
    #premier-titre {
        display :none;   
    }  

    #deuxieme-titre {
        display: flex;
    }
    /* taille du texte */
     /* symbole euro en gras */

/****** section offersSponsored / "populaire" *****/
    /* contenant de "cards populaires" */
    aside.offre-sponsors {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        align-self: stretch;
        padding:30px;
        width:100%
    }
     /* taille du titre de la card populaire */
    h3 {
        font-weight: bolder;
        font-size: 16px;
        text-size-adjust: 80%; /*reduit la taille du texte*/
    }

     /* conteneur de "cards populaires" */
    div.container-sponso {
        flex-direction: row;
        flex-wrap: wrap;
        gap:20px;
    }
        /*  titre "les plus populaires" */
        /*  icone en flexbox */

    /* cards "populaires" */
    div.fiche-populaire {
        flex-direction: row;
        justify-content: center;
        height: 146px;
        width: 30%;
        justify-content: center;
        align-items: center;
        
    }
     /* contenue cards "populaires" */

      /* cadre texte cards "populaires" */

    /*partie image de la card "populaires"*/
    img.populaire {
        height: 146px;
        width: 92px;
        object-fit: cover;
        align-self: stretch;                                            
        justify-content: start;
        border-radius: 20px 0px 0px 20px;
        border: 5px solid white; 
        
    }

    p {
        text-size-adjust: 100%; 
    }
   
    
   
    

  /**************************************************/
   /************** section de activité *************/
 
   
     /*  container partie "activites" */
    
   

     /*  container partie "activites" */ 
    /*  titre partie "activites" */
   
    
     /*  contenant des fiches "activites" */
    div.container-activ {
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 30px;
        align-self: stretch;
        width: 100%;
        height: 270px;
    }
    /*  contenu des cards "activites" */
    div.fiche-contenu-activite {
        height: 70px;
        width: 100%;
        padding: 20px 19px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
        align-self: stretch;
        border-radius: 0px 0px 20px 20px;
        background: var(--white, #FFF);
    }
     /*   fiche "activites" */
    .fiche-Activite {
        justify-content: flex-end;
        align-items: center;
        flex: 1 0 0;
        height: 270px;
        border-radius: 20px;
        /* Shadow/Card */
        box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
    }

    /*  image partie "activites" */
    img.activity {
        height: 200px;
        width: 100%; 
        align-self: stretch;
        border-radius: 20px 20px 0px 0px;
        
    }
     
        /***** footer /*************************************/
    

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    
    main {
        padding: 0px;
        min-width: 320px;
    }


/************  header  **************************/
        /* contenant du header */
    header {
        
        flex-direction: column;
        align-items: center;
        align-self: stretch;
        gap:30px;
        width: 100%;
       
    } 

/************   logo   **************************/
            /* container du logo  */

    div#logo-container {
        
        flex-direction: column;
        align-items: flex-start;
        gap: 1px;
        padding: 30px;
    }  
            /* image du logo  */
     #logo {
        width: 61.09px;
        height: 19px;
    }
     
/************   partie menu/navigation **************************/
            /* contenant de la navigation  */    
    nav.menu {
        height: 30px;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap:0px;
        padding:0px;
    }

            /* bouton de la navigation*/    
    a.activites-Nav, a.hebergements-Nav {
        
        padding: 0px;
        align-content: center;
        justify-content: center;
        width: 100%;
       
    }
      
            /* barre bleu au dessus des boutons navigation*/

    .activites-Nav:hover,.hebergements-Nav:hover, .activites-Nav:active, .hebergements-Nav:active {   
       
        background-color:transparent;
        border-top-color: transparent;
        font-weight: 500;
        width: 100%;
        border-bottom-width: 2px;
        border-bottom-color: #0065FC;
        
       
    }
    button.activites-Nav,button.hebergements-Nav {
        padding-bottom: 32px;
        width: 100%;
        padding-top: 0px;
        height: 19px;
       
        
    }
       
     
    /*************** section info-grouper "presentation,filtres et recherche" ********/
            /* section partie "filtres et recherche" */
    section.info-grouper {
        
        padding: 0px 20px;

    }
     /** article de présentation  **/

    

     /***** article barre de recherche *****/
    /* contenant de la barre de recherche  */
    
    .zone-de-Recherche {
        
        width: 100%;
    }
     /* bouton de recherche */
     #form-bouton-recherche {
        position: relative;
        top: 0px;
        
    }
    /* partie "avant" du bouton de recherche */
    .fa-location-dot {
        position:relative;
        top: 0px; 
    }
    
     
    /* zone de frappe de texte */
    input {
        height: 49px;
        width: 100%;
        align-self: stretch;
    }

    /* On masque le bouton rechercher */
    .bouton-Rechercher-Desktop {
        display: none;
    }

    /* Affichage du bouton loupe pour mobile */
    button.bouton-Rechercher-Mobile {
        display: flex;
        background-color: #0065FC;
        color: white;
        height: 49px;
        width: 48px;
        border: none;
        border-radius: 15px;
        padding: 15px 16px;
      
    }
    /* Dimensionnement de l'icône "loupe" */
    .fa-magnifying-glass {
        display: flex;
        font-size: 18px;
        color: #DEEBFF;
        line-height: 1;
    }
    
     /***** barre de filtre *****/
        /** contenue partie filtres **/
    
    .barre-de-filtre {
        
        flex-direction: column;
        margin: 35px 0px;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
    }
        /* container des boutons filtres (par 2) */
    .boite-a-filtres1, .boite-a-filtres2 {
        flex-direction: row;
        gap: 20px;
        width: 100%;
        justify-content: start;
        align-items: center;
        
    } 
        /* partie contenant des boutons filtres */
    #choix {
        flex-direction: column;
        height: 120px;
        gap: 20px;
    }

    
    /* chacun des 4 boutons filtres */
    .filtre {
        display: inline-flex;
        align-items: baseline;
        gap: 10px;
        width: 100%;
        align-items: center;
    }
    /*alignement des boutons filtres*/
    form#familial, form#romantique, form#pepites, form#economique {
        display: flex;
        width: 50%;
        
       
    }
    /* texte des barres de filtres */
    p.text-tri  {
        font-size: 14px;
        
    }
/***** barre information  *****/

  /************** section GROUP ******************/
   
       /* section contenant 
    spacearround et  offerssponsored */  
    section.contenu-grouper {
       
        flex-direction: column-reverse;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 35px;
        align-self: stretch;
         
    }
        /*****partie "hebergement a Marseille" *****/

        /*contenant zone "card hébergement" et titre */
    div.offre {
        
        flex-direction: column;
        padding: 20px;
        align-items: flex-start;
        gap: 15px;
        align-self: stretch;
        justify-content: center;
        height: auto;
        width: 100%;
        background-color:white;
    }
    
    /*container boite-a-logement pour "card hébergement" */
    div.boite-a-logements {
        grid:none;
        display: flex;
        flex-direction: column;
        align-items:start;
        align-self: stretch;
        justify-content: center;
        gap: 15px;
        
        
               
    }
    /*partie image card hebergment*/
          
    /* card "hebergement" */   
    
    
    .fiche-hebergement{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;
        width: 100%;
        
        /* taille maximale d'affichage pour mobile */
       
              
        background-color: rgb(255, 255, 255);
        border-radius: 20px;
        
        
               
        /* Shadow/Card */
        box-shadow:0px 3px 15px 0px rgba(0, 0, 0, 0.10);
              
                      
    }
    

    .card-Main.un {order:1;}
    .card-Main.deux {order:6;}
    .card-Main.trois {order:3;}
    .card-Main.quatre {order:4;}
    .card-Main.cinq {order:2;}
    .card-Main.six {order:5;}
    /* contenu de la card hébergement */
    /* titre de la card hébergement */

    .fiche-titre {
        font-size: 16px;
        text-size-adjust: 80%;
    }


     /* sous-titre de la card hébergement */
     .fiche-sous-titre
    /* systeme de notation étoilé */
    /* couleur etoile grise */
    /* taille des etoiles */
     /* taille du texte */

    

/****** section offersSponsored / "populaire" *****/
    /* contenant de "cards populaires" */ 
    aside.offre-sponsors {
        flex-direction: column;
        height: 100%;
        width: 100%;
        padding: 30px 20px;
        align-items: center;
        justify-content: center;
        gap: 15px;
        align-self: stretch;
        background-color:#F2F2F2;
    }

     /* taille du titre de la card populaire */
        
        
    }
     /* conteneur de "cards populaires" */
    div.container-sponso {
        flex-direction: column;
        justify-content: center;
        width: 100%;
       
       
       
       
        
    }
        /*  titre "les plus populaires" */

    h1 {
        font-size: 18px;
        
        }
        /*  icone en flexbox */
   
    /* cards "populaires" */
    div.fiche-populaire {
        display: flex;
        height: 146px;
        width: 100%;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        align-self: stretch;
        border-radius: 20px;
       
        
       
        /* Shadow/Card */
        box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
    }
     /* contenue cards "populaires" */
        
     /* cadre texte cards "populaires" */
        div.fiche-contenu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }

     /*partie image de la card "populaires"*/
    img.populaire {
        height: 146px;
        width: 111.66666px;
        border-radius: 20px 0px 0px 20px;
        border: 5px solid white;
    }
       
   
   

    
    
    

    

/*******************************************/
   /*********** section de activité *********/
   
/*  container partie "activites" */ 
   section.activite {
        flex-direction: column;
       
        align-items: flex-start;
        gap: 30px;
        align-self: stretch;
        width: 100%;
        height: auto;
    }
    /*  titre partie "activites" */
    .titre-activite {
        height: 30.019px;
        align-self: stretch;
    } 
     /*  contenant des fiches "activites" */
     div.container-activ {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;
        gap: 15px;
        align-self: stretch;
        height: auto;
        width: 100%;
       
        
    }
    /*  contenu des cards "activites" */
    
    div.fiche-contenu-activite {
        padding: 20px 19px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
        align-self: stretch;
        border-radius: 0px 0px 20px 20px;
        background: var(--white, #FFF);
        height: 59px;
        width: 100%;
    }
     /*   fiche "activites" */
    .fiche-Activite {
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        align-self: stretch;
        justify-content: center;
        border-radius: 20px;
        /* Shadow/Card */
        box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
        width: 100%;
    }

    /*  image partie "activites" */
    img.activity {
        flex-direction: column;
        justify-content: flex-end;

        align-items: center;
        align-self: stretch;
        border-radius: 20px 20px 0px 0px;
        height: 141px;
        width: 100%;
        
        flex-basis: auto;
        /* Shadow/Card */
        box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
} 


   /*******footer*******************************************************/ 
    section.fin-page {
       
        flex-direction:column;
        align-items: flex-start;
        gap: 50px;
        align-self: stretch;
        background: var(--grey, #F2F2F2);
        padding: 30px;
    }

    div.footer-droit, .footer-milieu, .footer-gauche {
        
        flex-direction: column;
        width: 100%;
        padding: 0px;
       
        
    }
@media (max-width:320px) {
    
    body {
        display: none;
    }
    
}
       
}
  





