
   

                   /* modif le 27/07/2023 par EDF*/ 
    * {
        
        
        box-sizing: border-box; /*  bordure et remplissage défini pour la page */
        margin: 0;
    }
        
    :root {
        --main-color: #0065FC;
        --gris-fond: #F2F2F2;
        --couleur-bouton-filtre: #DEEBFF;
        --gris-decoration : #D9D9D9;
        --blanc: #FFF;
        --noir:#000;
       
        
    }
        
    .fa-solid {
        color: var(--main-color);
    }
        
    body {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto; /*permet une marge blanche sur large desktop*/
        max-width: 1440px; /*taille maximum de l'affichage*/
        min-width: 320px; /*taille minimum de l'affichage*/
        gap:30px
    }

    main {          /*gère les marges interrieures*/
        display:flex; 
        flex-direction: column;
        padding: 0px 50px;
        gap: 35px
    }

    

      /*gère les liens*/  
    a {
        
        text-decoration: none; /*pas de surlignage*/  
        font-family: 'raleway', sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: var(--noir)
        
    }

    /*ajustements des polices*/
    p {
        
        font-family: 'raleway', sans-serif;
        color:var(--noir);
        font-size: 16px;
        font-weight: 400;
        
    }

    h4.fiche-titre {
        
        font-family: 'raleway', sans-serif;
        color:var(--noir);
        font-weight: 700;
        line-height: normal;
        font-size: 16px;
        font-style: normal;
       
    }
 
    p.fiche-sstitre {
        font-family: 'raleway', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }   

    h1, h2 { 
        font-family: 'raleway', sans-serif;
        font-size: 22px;
        font-weight: 700;
        font-style: normal;
        line-height: normal;
        
    }

    h3 {
        font-family: 'raleway', sans-serif;
        font-size: 18px;
        font-weight: bold;
    }
 
    /************  header  **************************/
    /* contenant du header */
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        width:100%;
    }
    
    
    /************partie logo   **************************/
    /* container du logo  */
    #logo-container {
        display: flex;
        padding: 30px 50px;
        align-items: start;
        justify-content: left;
    }
    /* image du logo  */
    #logo {
        display: flex;
        width: 61px;
        height: 19px;
        object-fit: cover;
    }
    
    /************ partie menu/navigation  **************************/
    /* contenant de la navigation  */  
    nav {
        display: flex;
        gap: 68px;
        padding: 0px 50px;
    }
          
      /* bouton de la navigation au survol */  
    nav a:hover, nav a:active {          
        border-top-color: var(--main-color);
        color: var(--main-color);
        cursor: pointer;  /* petite main representant le lien cliquable*/
    }
    
    /*style du lien*/   
    nav a {    
        border-top: 2px; 
        border-top-style: solid;
        border-top-color: transparent;
        padding: 19px; 
    }
   
   
    /*************** section info-grouper"presentation,filtres et recherche" ********/
    /****** section partie "filtres et recherche" ******/
    .info-grouper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 35px;
        align-self: stretch;
      
    }
    /***** article de présentation  *****/
    .Presentation {
        display: flex;
        flex-direction: column;
        height: 53px;
        align-items: flex-start;
        gap: 8px;
        align-self: stretch;
    }
    
    
    
    
    
    /***** article barre de recherche *****/
    /* contenant de la barre de recherche  */
    .zone-de-Recherche {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 395px;  /* !!!reglage taille zone texte !!!*/
        height: 49px;
        gap: 24px;
        border-radius: 15px;
        outline: none; /* Pour supprimer le contour */
        border: 1px solid var(--gris-fond, #F2F2F2);
        background: var(--blanc);
    }    

    /* bouton de recherche */
    #form-bouton-recherche {
        display: flex;
        width: 100%;      
        height: 48px;
        position: relative;
        top: 1.8px;
        
       
    }
    
    /* partie "avant" du bouton de recherche */
    .fa-location-dot {
        display: flex;
        /* rectangle de l'icone */
        border: 2px solid var(--gris-fond, #F2F2F2);
        background-color: var(--gris-fond, #F2F2F2);
        padding-right: 16px;
        padding-left: 18px;
        border-radius: 15px 0px 0px 15px;
        line-height: 2.5;
    }

    /* zone de frappe de texte */
    input {
        display: flex;
        flex-direction: row;
        border: 1px solid var(--gris-fond, #F2F2F2);
        align-items: center;
        gap: 24px;
        height: 49px;
        width: 100%;
        font-weight: 700;
        font-size: 18px;
        
    }
    
    /* zone de frappe et texte de substitution  */
    ::placeholder {
        color: var(--noir);
        text-align: center;
        font-family: 'Raleway', sans-serif;
        line-height: normal;
        font-weight: 700;
        font-size: 18px;
       
    }

    /* Mise en forme du bouton rechercher pour ordinateur et tablette */
    .bouton-Rechercher-Desktop {
        display: flex;
        background-color: var(--main-color);
        color: var(--blanc);
        width: 133px;
        height: 49px;
        padding: 15px 16px;
        align-items: center;
        gap: 10px;
        border-radius: 0px 15px 15px 0px;
        border: 1px solid var(--main-color);
        font-weight: bold;
        font-size: 18px;
        cursor: pointer;
    }

    /* bouton rechercher pour mobile non-apparent */
    .bouton-Rechercher-Mobile {
        display:none;
    }
    
         /***** barre de filtre *****/
   /** contenue partie filtres **/

    .barre-de-filtre {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 50px;
        gap:15px;
    }

     /* container des boutons filtres (par 2) */
     
    .boite-a-filtres1, .boite-a-filtres2 {
        display: flex;
        flex-direction: row;
        gap:20px;
    }

    /* partie contenant des boutons filtres */
    #choix {
        display:flex;
        flex-direction: row;
        width: 100%;
        height: 50px;
        justify-content:start;
        gap:20px;
    }

    /* chacun des 4 boutons filtres */
    .filtre {
        display: flex; 
        flex-direction: row;
        width: 100%;
        height: 50px;
        padding: 4px 19px;
        justify-content: center;
        align-items: center;
        gap: 15px;
    /* contour du bouton */
        background-color:var(--gris-fond); 
        border-radius: 25px;
        border: 2px solid var(--gris-decoration, #D9D9D9);      
      /* texte des barres de filtres */ 
        font-size: 17px;
        font-weight: bold;
        display: flex; 
        flex-direction: row;
        color: #000;
        cursor: pointer;

    }
    /* couleur au survol et activé des boutons filtres */
    .filtre:active, .filtre:hover {
        background-color:#DEEBFF; 
        border-radius: 25px;
        border: 2px solid var(--gris-decoration, #D9D9D9);
    }
       
   
    
    /***** barre information  *****/
    /* modélisation de l'icone information */
    .fa-info  {
        display: flex;
        flex-direction: row;
        width: 24px; /* reglage hauteur */
        height: 24px;
        border: 2px solid var(--gris-decoration); /* bordure */
        background-color:var(--gris-fond);  /* couleur de fond */
        padding-right: 5px;
        padding-left: 5px;
        justify-content: center;
        border-radius: 25px; /* arrondi du l'icone info */
        line-height: 1.2; /* reglage alignement (haut/bas) de l'icone */
         
    }

    /* pointe le contenant de l'icone de la barre d'information */
    .info-icon {
        display: flex;
        flex-direction: row;
        gap: 10px;
       
    }    
     /* zone de texte de la barre d'information */
    .text-information {
        display:flex;
        font-weight: lighter;
        font-size: 16px;
    }
    /*barre d'information */
    .barre-info {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 10px;
        
    }
    
    
    /************** section GROUP ******************/
    
    /* section contenu-grouper contenant 
    offre-hebergements  et  offre-populaires */
    .contenu-grouper {
        display: flex;
        flex-direction:row;
        align-items: center;
        gap: 40px;
        align-self: stretch;
        width :100%;
    }
    
   
     /*****partie "hebergement a Marseille" *****/
   
    /*contenant zone "card hébergement" et titre */
    .offre-hebergements {
        display: flex;
        flex-direction: column;
        padding: 30px;
        align-items: flex-start;
        gap: 30px;
        align-self: stretch;
        border-radius: 15px;
        width: 100%;
        padding: 30px;
        
        background:var(--gris-fond);
    }

     /*container boite à logements pour "card hébergement" */
    .boite-a-logements {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
        grid-auto-rows: minmax(auto, auto);
        align-items: flex-start;
        align-content: flex-start;
        gap: 30px;
        padding: 0px;
        width: 100%;
    }
    
    /********** creation de "fiche-hebergment" **********/

    /*partie image card hebergment*/

    .heberg {
        display: flex;
        flex-direction: column;                                       
        height: 124px;
        object-fit: cover;
        align-self: stretch;                      
        border-radius: 20px 20px 0px 0px;
        border: 5px solid var(--blanc);
        width: 100%;
    }
     /* card "hebergement" */
    .fiche-hebergement {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        gap: 4px;
        box-sizing: content-box;
        background-color:var(--blanc);
        border-radius: 20px;
        width: 100%;
        height: 100%;
       /* ombre */
        box-shadow:0px 3px 15px 0px rgba(0, 0, 0, 0.10);
        cursor: pointer;
    }

   

     /* contenu de la card hébergement */
   
    .fiche-contenu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        align-content: center;
    }

    /* cadre texte de la card hébergement */
    .fiche-txt-heberg {
        display: flex;
        flex-direction: column;
        padding: 0px 15px;
        align-items: flex-start; 
        gap: 8px;
        align-self: stretch;
        width: 100%;
        height: 100%;
        border-radius: 0px 0px 20px 20px;
        background: var(--blanc);
    /* Shadow/Card */
        box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
    }
    
    /* systeme de notation étoilé */
    .notation {
        display: flex;
        flex-direction: row;
        width: 14.294px;
        height: 13.25px;
        flex-shrink: 0;
    }
    /* couleur etoile grise */
    .neutral-star {
        display: flex;
        color:  var(--couleur-bouton-filtre);
    }

    /* taille des etoiles */
    .fa-star {
        display: flex;
        width: 14.294px;
        height: 13.25px;
    } 
    .fa-xs {
        font-size: 0.75em;
        line-height: 0.8;
    }
    
    /* 2eme titre de la card main1 qui change selon ecran*/
    #deuxieme-titre {
        display: none;
    }

     /* taille du texte */
    .note {
        visibility: hidden;
    }
   
     /* symbole euro en gras */   
    .euro {
        font-size: 14px;
        font-weight: 600;
    }
   
    /****** section offersSponsored / "populaire" *****/
    /* contenant de "cards populaires" */
    .offre-sponsors {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 30px;
        justify-content: center;
        padding: 30px;
        width: 429px;
        box-sizing: border-box;
        gap:30px;
        border-radius: 15px;
        background:var(--gris-fond);
    }
           
    
    /* conteneur de "cards populaires" */
    .container-sponso {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        align-self: stretch;
    }

    /*  contenaire du titre "les plus populaires" */
    #titre-Populaire {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        align-self: stretch;
    }

     /*  icone en flexbox */
    .fa-solid {
        display: flex;
    }

    /* cards "populaires" */
    .fiche-populaire {
        display: flex;
        height: 144px;
        flex-direction: row;
        justify-content: stretch;
        align-items: center;
        align-self: stretch;
        background:var(--blanc);
        border-radius: 20px;
        list-style: none;
        width: 100%;
    /* ombre */
        box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
        cursor: pointer;
    }
    /* contenue cards "populaires" */
    .fiche-contenu-Pop {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-content: center;
    }   
    

    /* cadre texte cards "populaires" */
    .fiche-txt-Pop {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        padding-top: 5px;
        align-self: stretch;
        height: 119px;
        width: 100%;
    } 

     
    /*partie image de la card "populaires"*/
        
    img.populaire {
        display: flex;
        flex-direction: row;                                          
        height: 144px;
        width: 100px;
        object-fit: cover;
        align-self: stretch;                                            
        justify-content: start;
        border-radius: 20px 0px 0px 20px;
        border: 5px solid var(--blanc); 
    }
    .popu {
        display: flex;
        flex-direction: row;
    }
    /**************************************************/
    /************** section de activité *************/
    
    
     /*  container partie "activites" */        
    .activite {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        width: 100%;
        height: auto;
        gap: 30px;
        padding: 30px;
        background-color:var(--blanc);
    }
     /*  titre partie "activites" */  
    .titre-activite {
        display: flex;
        font-size: 22px;
        font-weight: bold; /*pour mettre la police légèrement gras */
        height: 30.019px;
        align-self: stretch;
        color: #000;
    }
    /*  contenant des fiches "activites" */ 
    .container-activ {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        height: auto;
        gap: 30px;
        align-self: stretch;
    }
   
    
    /*  contenu des cards "activites" */
    .fiche-contenu-activite {
        display: flex;
        padding: 20px 19px;
        flex-direction: column;
        justify-content: stretch;
        align-items: stretch;
        align-self: stretch;
        height: 59px;
        border-radius: 0px 0px 20px 20px; 
        background: var(--blanc);
        /* ombre */
        box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
        cursor: pointer;
    }
    
     /*   fiche "activites" */
    .fiche-Activite {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: stretch;
        
        border-radius: 20px;
        width: 100%;
        height: 380px;
        /* Shadow/Card */
        box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
    }
    /*  image partie "activites" */   
    img.activity {
        display: flex;                                          
        height: 321px;
        width: 100%;
        object-fit: cover;
        border-radius: 20px 20px 0px 0px;
       
        
    }
    
    


    /******************************************************************************************************************************/
    /********************************************** footer ************************************************************************/
     /*  zone footer */
    .fin-page {
        display: flex;
        flex-direction: row;
        width: 100%;
        background-color:var(--gris-fond);
        gap:60.5px;

    }
    /*  définition des 3 colonnes du footer */
    .footer-droit, .footer-milieu, .footer-gauche {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px;
        align-items: flex-start;
        gap: 15px;
        align-self: stretch;
       
    }
    /*  liens sur titre des 3 colonnes du footer */
    .footer-propos, .footer-assistance, .footer-hebergements {
        display: flex;
        flex-direction: column;
        font-size: 18px;
        font-weight: bold;
        color: var(--noir);
      
    }
    footer {
        display: flex;
    }
    


@media (max-width: 1272px) {
        
        h4.fiche-titre {
            font-family: 'raleway', sans-serif;
            color:var(--noir);
            font-weight: 700;
            line-height: normal;
            font-size: 12px;
        }
    
        p.fiche-sstitre {
            font-family: 'Raleway',sans-serif;
            font-size: 11px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        .fiche-contenu {
            height: 88px;
            
        }
        .fiche-txt-heberg {
            height: 88px;
            gap:15px
        }
        .fiche-contenu-activite {
            height: 70px;
        }
        
   
/* Le code ci-dessous correspond à la version responsive uniquement *************************************************************************** */

/****** Media queries ****************************************************************************************************************************/
/* Medium devices (tablets, less/equal than 1024px) **********************************************************************************************/
@media (max-width: 1024px) {
    /* reglage police */
    h4.fiche-titre {
       
        font-family: 'raleway', sans-serif;
        color:var(--noir);
        font-weight: 700;
        font-style: normal;
        line-height: normal;
        font-size: 16px;
        
    }

    p.fiche-sstitre {
       
        font-family: 'Raleway',sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        
        
    }


        /* contenant du header */
    header {
        box-sizing: border-box;
        padding: 0px;
    }  
/********************* header         ****************/
        /* container du logo  */
    #logo-container {
   
        padding: 30px 50px;
        box-sizing: content-box;
    } 
        /* image du logo  */
    #logo {
        width: 61.09px;
        height: 19px;
    }

/************ partie menu/navigation  **************************/
        /* contenant de la navigation  */
    nav {
        padding: 0px 50px;
      
    }
   



 /*************** section info-grouper "presentation,filtres et recherche" ********/
  
/** section partie "filtres et recherche" **/


 /** article de présentation  **/
    


 /***** article barre de recherche *****/
    /* contenant de la barre de recherche  */
    .zone-de-Recherche {
        display: flex;
        width: 400px;
    } 
    /* bouton de recherche */
     
   
    

    /* partie "avant" du bouton de recherche */
    .fa-location-dot {
        position:relative;
        top: 0.5px; 
    }
    /* zone de frappe de texte */
    input {
        width: 60%;
        height: auto;
    }

    /***** barre de filtre *****/
        /** contenue partie filtres **/

    .barre-de-filtre {
       
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
        width: 100%;
        height: 50px;
    }
    
    /* container des boutons filtres (par 2) */
    .boite-a-filtres1, .boite-a-filtres2 {
        
        flex-direction: row;
        align-items: start;
        justify-content: start;
    }
    /* partie contenant des boutons filtres */ 
    #choix {
        flex-direction: row;
        height: 50px;
        justify-self: start;
        
    }
    /* chacun des 4 boutons filtres */
    .filtre {
        padding: 4px 19px;
        align-items: center;
        gap: 10px;
    }
    /* couleur au survol et activé des boutons filtres */


  
    

 
/***** barre information  *****/

    
/* section contenant 
spacearround et  offerssponsored */
    .contenu-grouper {
        flex-direction:column;
        flex-wrap: wrap;
        box-sizing: border-box;
        gap: 50px;
        width: 100%;
    }

/*****partie "hebergement a Marseille" *****/

    /*contenant zone "card hébergement" et titre */
    .offre-hebergements {
        justify-content: center;
        padding:30px;
        height: 100%;
        width: 100%;
        gap: 30px;
        background-color:var(--gris-fond);
    }

    /*container frame15 et columb2 pour "card hébergement" */

    .boite-a-logements {
        display: grid;
        
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
        grid-auto-rows: minmax(auto, auto);
    }
       
    /*partie image card hebergment*/

    /* card "hebergement" */
    .fiche-hebergement {
        justify-content: center;
        align-items: stretch;
        gap: 4px;
        background-color: var(--blanc);
        border-radius: 20px;
        width: 100%;
    /* ombre */
        box-shadow:0px 3px 15px 0px rgba(0, 0, 0, 0.10);
       
               
    }
    /* contenu de la card hébergement */

    

    /* systeme de notation étoilé */
    /* couleur etoile grise */
    /* taille des etoiles */

      /* 2eme titre de la card main1
      qui change selon ecran*/
    #premier-titre {
        display :none;   
    }  

    #deuxieme-titre {
        display: flex;
    }
    /* taille du texte */
     /* symbole euro en gras */

/****** section offersSponsored / "populaire" *****/
    /* contenant de "cards populaires" */
    .offre-sponsors {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        align-self: stretch;
        padding:30px;
        width:100%
    }
    

     /* conteneur de "cards populaires" */
    .container-sponso {
        flex-direction: row;
        flex-wrap: wrap;
        gap:20px;
    }
        /*  titre "les plus populaires" */
        /*  icone en flexbox */

    /* cards "populaires" */
    .fiche-populaire {
        flex-direction: row;
        justify-content: stretch;
        height: 146px;
        width: 31%;
        align-items: center;
    }
     /* contenue cards "populaires" */

      /* cadre texte cards "populaires" */

    /*partie image de la card "populaires"*/
    img.populaire {
        height: 146px;
        width: 92px;
        object-fit: cover;
        align-self: stretch;                                            
        justify-content: start;
        border-radius: 20px 0px 0px 20px;
        border: 5px solid var(--blanc); 
    }

  /**************************************************/
   /************** section de activité *************/
 
   
     /*  container partie "activites" */
    
     /*  container partie "activites" */ 
    /*  titre partie "activites" */
   
    
     /*  contenant des fiches "activites" */
    .container-activ {
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 30px;
        align-self: stretch;
        width: 100%;
        height: 270px;
    }
    /*  contenu des cards "activites" */
    .fiche-contenu-activite {
        height: 70px;
        width: 100%;
        padding: 20px 19px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
        align-self: stretch;
        border-radius: 0px 0px 20px 20px;
        background: var(--blanc);
    }
     /*   fiche "activites" */
    .fiche-Activite {
        justify-content: flex-end;
        align-items: stretch;
        flex: 1 0 0;
        height: 270px;
        border-radius: 20px;
        /* ombre */
        box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
    }

    /*  image partie "activites" */
    img.activity {
        height: 200px;
        width: 100%; 
        align-self: stretch;
        border-radius: 20px 20px 0px 0px;
        
    }
     
        /***** footer /*************************************/
@media (max-width: 891.98px) {
    
    h4.fiche-titre {
        font-family: 'raleway', sans-serif;
        color:var(--noir);
        font-weight: 700;
        line-height: normal;
        font-size: 14px;
    }

    p.fiche-sstitre {
        font-family: 'Raleway',sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .fiche-contenu {
        height: 88px;
        
    }
    .fiche-txt-heberg {
        height: 88px;
        gap:15px
    }
    .fiche-contenu-activite {
        height: 70px;
    }

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    main {
        padding: 0px;
        min-width: 320px;
    }


/************  header  **************************/
        /* contenant du header */
    header {
        flex-direction: column;
        align-items: center;
        align-self: stretch;
        gap:30px;
        width: 100%;   
    } 

/************   logo   **************************/
            /* container du logo  */

    #logo-container {
        flex-direction: column;
        align-items: flex-start;
        gap: 1px;
        padding: 30px;
    }  
            /* image du logo  */
    #logo {
        width: 61.09px;
        height: 19px;
    }
     
/************   partie menu/navigation **************************/
            /* contenant de la navigation  */    
    nav {
        height: 30px;
        width: 100%;
        gap:0px;
        padding:0px;
    }

            /* bouton de la navigation*/    
    .activites-Nav,.hebergements-Nav {
        display: flex;
        padding: 0px;
        justify-content: center;
        width: 100%;
        padding-bottom: 10px;
    }
      
     nav a {
        border-bottom: 2px; 
        border-bottom-style: solid;
        border-top-color: transparent;
        border-bottom-color: transparent;
        padding: 19px;
     }

    nav a:hover,nav a:active {   
        font-weight: 500;
        width: 100%;
        border-bottom-color:var(--main-color); 
        border-top-color: transparent;
    }

   /***** article barre de recherche *****/
    /* contenant de la barre de recherche  */
    .info-grouper {
        padding: 0px 20px;
    }
    
     /***** article barre de recherche *****/
    /* contenant de la barre de recherche  */
    
    .zone-de-Recherche {
        width: 100%;
    }
     /* bouton de recherche */
    #form-bouton-recherche {
        position: relative;
        top: 0px;
    }
    /* partie "avant" du bouton de recherche */
    .fa-location-dot {
        position:relative;
        top: 0px; 
    }
    
     
    /* zone de frappe de texte */
    input {
        height: 49px;
        width: 100%;
        align-self: stretch;
    }

    /* On masque le bouton rechercher */
    .bouton-Rechercher-Desktop {
        display: none;
    }

    /* Affichage du bouton loupe pour mobile */
    .bouton-Rechercher-Mobile {
        display: flex;
        background-color: var(--main-color);
        color: white;
        height: 49px;
        width: 48px;
        border: none;
        border-radius: 15px;
        padding: 15px 16px;
      
    }
    /* Dimensionnement de l'icône "loupe" */
    .fa-magnifying-glass {
        display: flex;
        font-size: 18px;
        color: var(--couleur-bouton-filtre);
        line-height: 1;
    }
    
     /***** barre de filtre *****/
        /** contenue partie filtres **/
    
    .barre-de-filtre {
        flex-direction: column;
        margin: 35px 0px;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
    }
        /* container des boutons filtres (par 2) */
    .boite-a-filtres1, .boite-a-filtres2 {
        flex-direction: row;
        gap: 20px;
        width: 100%;
        justify-content: start;
        align-items: center;
    } 
        /* partie contenant des boutons filtres */
    #choix {
        flex-direction: column;
        height: 120px;
        gap: 20px;
    }

    
    /* chacun des 4 boutons filtres */
    .filtre {
        display: inline-flex;
        align-items: baseline;
        gap: 10px;
        width: 100%;
        align-items: center;
    }
     /* couleur au survol et activé des boutons filtres */
    /*alignement des boutons filtres*/
    #familial, #romantique, #pepites, #economique {
        display: flex;
        width: 50%;
    }
    
/***** barre information  *****/

  /************** section GROUP ******************/
   
       /* section contenant 
    spacearround et  offerssponsored */  
    .contenu-grouper {
       
        flex-direction: column-reverse;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 35px;
        align-self: stretch;
    }
        /*****partie "hebergement a Marseille" *****/

        /*contenant zone "card hébergement" et titre */
    .offre-hebergements {
        flex-direction: column;
        padding: 20px;
        align-items: flex-start;
        gap: 15px;
        align-self: stretch;
        justify-content: center;
        height: auto;
        width: 100%;
        background-color:var(--blanc);
    }
    
    /*container boite-a-logement pour "card hébergement" */
    .boite-a-logements {
        grid:none;
        display: flex;
        flex-direction: column;
        align-items:start;
        align-self: stretch;
        justify-content: center;
        gap: 15px;
    }
    /*partie image card hebergment*/
          
    /* card "hebergement" */   
   
    .fiche-hebergement {
        display: flex;
        flex-direction: column;
        
        gap: 4px;
        width: 100%;
        background-color: var(--blanc);
        border-radius: 20px;
        /* ombre */
        box-shadow:0px 3px 15px 0px rgba(0, 0, 0, 0.10);
    }
    
    .fiche-hebergement.un {order:1;}
    .fiche-hebergement.deux {order:6;}
    .fiche-hebergement.trois {order:3;}
    .fiche-hebergement.quatre {order:4;}
    .fiche-hebergement.cinq {order:2;}
    .fiche-hebergement.six {order:5;}
    /* contenu de la card hébergement */
    /* titre de la card hébergement */
     /* sous-titre de la card hébergement */
     
    /* systeme de notation étoilé */
    /* couleur etoile grise */
    /* taille des etoiles */
     /* taille du texte */

    

/****** section offersSponsored / "populaire" *****/
    /* contenant de "cards populaires" */ 
    .offre-sponsors {
        flex-direction: column;
        height: 100%;
        width: 100%;
        padding: 30px 20px;
        align-items: center;
        justify-content: center;
        gap: 15px;
        align-self: stretch;
        background-color:var(--gris-fond);
        border-radius: 0px;
    }

     /* taille du titre de la card populaire */
        
        
    
     /* conteneur de "cards populaires" */
    .container-sponso {
        flex-direction: column;
        justify-content: center;
        width: 100%;
      
        
    }
        /*  titre "les plus populaires" */

    
        /*  icone en flexbox */
   
    /* cards "populaires" */
    .fiche-populaire {
        display: flex;
        height: 146px;
        width: 100%;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        align-self: stretch;
        border-radius: 20px;
      /* ombre */
        box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
    }
     /* contenue cards "populaires" */
        
     /* cadre texte cards "populaires" */
        .fiche-contenu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }

     /*partie image de la card "populaires"*/
    img.populaire {
        height: 146px;
        width: 111.66666px;
        border-radius: 20px 0px 0px 20px;
        border: 5px solid var(--blanc);
    }
       
   
   

    
    
    

    

/*******************************************/
   /*********** section de activité *********/
   
/*  container partie "activites" */ 
   .activite {
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        align-self: stretch;
        width: 100%;
        height: auto;
    }
    /*  titre partie "activites" */
    .titre-activite {
        height: 30.019px;
        align-self: stretch;
    } 
     /*  contenant des fiches "activites" */
    .container-activ {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;
        gap: 15px;
        align-self: stretch;
        height: auto;
        width: 100%;
       
        
    }
    /*  contenu des cards "activites" */
    
    .fiche-contenu-activite {
        padding: 20px 19px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
        align-self: stretch;
        border-radius: 0px 0px 20px 20px;
        background: var(--blanc);
        height: 59px;
        width: 100%;
    }
     /*   fiche "activites" */
    .fiche-Activite {
        flex-direction: column;
        justify-content: flex-end;
        align-items: stretch;
        align-self: stretch;
        justify-content: center;
        border-radius: 20px;
        /* ombre */
        box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
        width: 100%;
    }

    /*  image partie "activites" */
    img.activity {
        flex-direction: column;
        justify-content: flex-end;

        align-items: center;
        align-self: stretch;
        border-radius: 20px 20px 0px 0px;
        height: 141px;
        width: 100%;
        
        flex-basis: auto;
        /* ombre */
        box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
} 


   /*******footer*******************************************************/ 
    .fin-page {
       
        flex-direction:column;
        align-items: flex-start;
        gap: 50px;
        align-self: stretch;
        background: var(--gris-fond);
        padding: 30px;
    }

    .footer-droit, .footer-milieu, .footer-gauche {
        
        flex-direction: column;
        width: 100%;
        padding: 0px;
       
        
    }
@media (max-width:392px) {
    h4.fiche-titre {
        font-family: 'raleway', sans-serif;
        color:var(--noir);
        font-weight: 700;
        line-height: normal;
        font-size: 14px;
    }

    p.fiche-sstitre {
        font-family: 'Raleway',sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .fiche-contenu {
        height: 88px;
        
    }
    .fiche-txt-heberg {
        height: 88px;
        gap:15px
    }
    .fiche-contenu-activite {
        height: 70px;
    }
    p {
        font-size: 13px;
    }
    h2 {
        font-size: 20px;
        
    }
    h3 {
        font-size: 16px;
    }
    .filtre {
        font-size: 14px;
    }
@media (max-width:351px) {
    .filtre {
        font-size: 11px;
    }

@media (max-width:320px) {
    
    body {
        display: none;
    }
    
}
       
}
 
}
}
}
}
}
