@media (max-width: 1440px) {                          /*  derniere modif le 09/07/2023 16h26 */
    * {
        
        font-family: 'Raleway', sans-serif;
        box-sizing: border-box; /*  bordure et remplissage défini pour la page */
        margin: 0;
    }
        
    :root {
        --main-color: #0065FC;
        --main-bg-color: #F2F2F2;
        --filter-bg-color: #DEEBFF;
    }
        
    .fa-solid {
        color: var(--main-color);
    }
        
    body {
        display: flex;
        flex-direction: column;
        
        margin: 0;
        
    }
    main {
        display:flex;
        flex-direction: column;
        padding:50px;
        padding:50px;

    }
        
    a:-webkit-any-link {
        display: flex;
        font-family: 'Raleway', sans-serif;
        color: var(--blue, #0065FC);
        height: 22px;
        justify-content: space-between;
        padding: 19px;
        cursor: pointer;
        text-decoration-color: var(--blue, #093577)  ;
    }
    
    p {
        display: flex;
        flex-direction: row;
        color: #000;
    }

    
    
 
    /************  header  **************************/
    header {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between; /* espace vide entre */
        align-items: start;  /* aligne à partir d'en haut*/
    }
    
    
    /************ section logo Reservia  **************************/
    div#logocontainer {
        display: flex;
        padding: 30px;
        justify-content: left; /* centre en partant des côtés*/
        
    }

    #logoBooki {
        display: flex;
        width: 50%;
        
        
        
    }
    
    
   
    /************  menu  **************************/
    nav.menu {
        display: flex;
        flex-direction: row;
        font-weight: 500;
        align-items: center;
        padding: 0px 25px 25px 0px; 
        gap: 68px;
        
    }

    #boutonsHeb, #boutonsAct {
        display: flex;
        height: 35px;
        align-self: stretch;
    }
   
    #activitesNav:active, #hebergementsNav:active, #activitesNav:focus, #hebergementsNav:focus  {
        color: #0065FC;
        cursor: pointer;
       
    }
       
    #activitesNav:hover, #hebergementsNav:hover  {          /* coloration au survol  */
        border-top-color: #0065FC;
        font-weight: 400;
        color: #0065FC;
        cursor: pointer;
        align-items: start;
       
    }

    #activitesNav,#hebergementsNav {
        flex-direction: row;
        font-size: 16px;
        font-family: 'Raleway', sans-serif;
        padding-top: 35px;
        background-color:transparent; 
        border-top-width: 2px;
        border-color: transparent;
        width: 100%;
        align-items: flex-start;
        
    }

    
        
    

   
    
    /************** section InfoGroup = navigation ****************************************/
    section.infogroup {
        display: flex;
        padding: 1px 20px;
        flex-direction: column;
        align-items: flex-start;
        gap: 35px;
        align-self: stretch;
        
        
        
    }
    /************** sous-section "headline"= rechercher        --> navigation ****************************************/
    article.Presentation {
        display: flex;
        flex-direction: column;
    }
    h1 {
        display: flex;
        flex-wrap: wrap;
        font-size: 22px;
        font-weight: bold; /*pour mettre la police légèrement gras */
        margin-bottom: 8px;
    }
    h2 {
        display: flex;
        flex-direction: row;
        font-weight: lighter; /*pour mettre la police légèrement gras */
        font-size: 16px;
    }
    
    /************** sous-section "searchBar"= recherche --> navigation ****************************************/
    
        
    }
    #SearchBar {
        display: flex;
        width: 100%;
        height: 49px;
        bottom: 2px;
        align-items: center;
    }

    input {
        display: flex;
        flex-direction: row;
        font-size: 16px;
        height: 46px;
        width: 100%;
        border: 1px solid #F2F2F2;
        color: #000000;
        font-weight: bold;
        font-size: 18px;
        outline: none; /* Pour supprimer le contour */
    }
        input:focus {
        border: 1px solid #F2F2F2;
    }
    /* Modifie la couleur de fond de l'autocomplétion */
        input:hover, input:focus {
        box-shadow: 0 0 0px 1000px white inset;
        -webkit-box-shadow: 0 0 0px 1000px white inset;
    }
    /* Modification de la police dans le champs de recherche */
    ::placeholder {
        color: black;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        opacity: 1; /* pour foncer la couleur de la police dans firefox */
    }

    /* Mise en forme du bouton rechercher sur ordinateur et tablette */
    .boutonRechercher_DesktopTablette {
        display: flex;
        background-color: #0065FC;
        color: white;
        width: 133px;
        height: 46px;
        border-radius: 0px 15px 15px 0px;
        border: 1px solid var(--blue, #0065FC);
        background: var(--blue, #0065FC);
        font-weight: bold;
        font-size: 15px;
        justify-content: center;
        align-items: center;

        
    }
    button.boutonRechercher_Mobile {
        display:none;
       
    }
    .boutonRechercher_DesktopTablette:hover, .boutonRechercher_DesktopTablette:focus, .boutonRechercher_DesktopTablette:active {
        border: 1px solid #DEEBFF;
        cursor: pointer;
    }
    /* Icône barre de recherche */
    .fa-location-dot {
        display: flex;
        flex-direction: row;
        font-size: 17px;
        width: 50px;
        height: 46px;
        flex-shrink: 0;
        top: 16px;
        left: 18px;
        border: 2px solid #F2F2F2;
        background-color: #F2F2F2;
        padding-right: 16px;
        padding-left: 18px;
        border-radius: 15px 0px 0px 15px;
        line-height: 2.5;
    }
    /************** sous-section "filterBar"=  Filtres --> navigation ****************************************/
   
    article#filterBar{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        height: 60px;
       
        
    }

    div#frame16, div#frame17 {
        display: flex;
        flex-direction: row;

        
    }
    div#choix {
        display:flex;
        flex-wrap: nowrap;
        width: 100%;
        height: 50px;
        justify-content:start;
       
    }
    .filtre {
        display: flex; 
        flex-direction: row;
        width: 100%;
        height: 50px;
        padding: 4px 19px;
        
        align-items: center;
        justify-content: baseline;
        gap: 10px;
        flex-shrink: 0;
        padding-bottom: 2px;
        color: var(--black, #000);
        font-family: Raleway;
        font-size: 17px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

         /* contour du bouton */
        background-color:#fffefe; 
        border-radius: 25px;
        border: 2px solid var(--grey-tint-2, #D9D9D9);

    }
    /* couleur au bouton *//* contour du bouton *//* contour du bouton */
    .filtre:active {
        background-color:#a4abc0; 
        border-radius: 25px;
        border: 2px solid var(--grey-tint-2, #D9D9D9);
    }
       
   


    h4 {
        display: flex;
        flex-direction: row;
        font-size: 17px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        align-items: center;
    }
    
    h5 {
        font-size: 18px;
        font-family: 'Raleway'sans-serif;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        justify-content: center;
        
    }
    
   
    
    
    /************** sous-section "infoBar"= information  -> navigation ****************************************/
    
    .fa-info  {
        display: flex;
        flex-direction: row;
        width: 24px;
        height: 24px;
        border: 2px solid var(--grey-tint-2, #D9D9D9);
        background-color:#fffefe; 
        padding-right: 5px;
        padding-left: 5px;
        border-radius: 25px;
        line-height: 1;
      
    }
    
    .info_icon {
        display: flex;
        flex-direction: row;
        padding-right: 5px;
        padding-left: 5px;
        gap: 10px;
    }    

    h3 {
        display:flex;
        flex-direction: row;
        font-weight: lighter;
        font-size: 16px;
        
        
    }
    article.infoBar {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        /* align-self: stretch; */
    }
    
    
    /************** section de hébergement et populaire ****************************************/
    section.offers {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin:auto;
        background-color: var(--main-bg-color);
        border-radius: 20px;
        padding: 30px;
        box-sizing: border-box;
      
    }
    
    
    /************** section de "hébergement" ************ ****************************************/
    section.offersMain {
        display: flex;
        flex-direction: row;
        width: 70%;
        padding:10px;
        margin:50px;
        background-color:plum; 
    }
    /************** section "populaire" ************ ****************************************/
    section.offersSponsored {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding:10px;
        height: 400px;
        margin:auto;
        background-color: greenyellow;
    }
    /************** section de activité ****************************************/
    
    
    section.activite {
        display: flex;
        
        flex-wrap: nowrap;
        justify-content: center;
        width: 100%;
        height: 200px;
      
        gap:20px;
        background-color: rgb(66, 168, 226);
    }
    /* container  */
    .container {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 10px;
        border: solid 2px #000
         
    }
    .box {
        display: flex;
        flex-direction: row;
    }
    
    
    .spaceAround {
        display: flex;
        justify-content: space-around;
         width: 100%;  
    }
    .element {
        display: flex;
        min-height: 150px;
        min-width: 200px;
        
    }
    .element1 {
        display: flex;
        background-color : orange;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        flex-shrink: 1;
    }
    .element2 {
        display: flex;
        background-color : blue;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        flex-shrink: 1;
       
    }
    .element3 {
        display: flex;
        background-color : rgb(7, 73, 7);
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start:1;
        grid-row-end: 2;
        flex-shrink: 1;
        
    }
    .element4 {
        display: flex;
        background-color: rgb(199, 238, 59);
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        flex-shrink: 1;
        
    }
    .element5 {
        display: flex;
        background-color: rgb(76, 182, 182);
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
        flex-shrink: 1;
       
    }
    .element6 {
        display: flex;
        background-color: rgb(145, 58, 58);
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        flex-shrink: 1;
       
    }
    
    
    
    /****** Populaires ***********/
    .populaires {
        display: flex;
        width: 32%;
    }
    
    .populaires-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .populaires-cards .card {
        display: flex;
        margin-top: 33px;
    }
    
    .populaires-cards img {
        display:flex;
        width: 33%;
        height: 136px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    
    .populaires-cards .card-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
        width: 67%;
        padding-left: 15px;
    }
    
    .populaires-cards .card-title {
        display:flex;
        margin-top: 10px;
        margin-bottom: 4px;
    }
    
    .populaires-cards .card-subtitle {
        display:flex;
        margin: 0;
    }
    
    .populaires-cards .card-rating {
        display: flex;
        margin-bottom: 5px;
    }
    
    /****** footer ***********/
    section.footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        height: 200px;
        margin:auto;
        gap:20px;
        background-color:rosybrown;
    }
   
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

/**************************** header****************/

    div#logocontainer {
   
    padding: 30px 50px;
    box-sizing: content-box;
    } 

    #SearchBar {
        width: 80%
    } 
    







 /**************************** filterBar = filtres*********************************/
    article#filterBar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
    }
    

    div#frame16, div#frame17 {
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: start;
    }

    div#choix {
        flex-wrap: nowrap;
        width: 100%;
        height: 50px;
        width: 100%;
        justify-self: start;
        
    }

    .filtre {
        display: inline-flex;
        height: 50px;
        padding: 4px 19px;
        align-items: center;
        gap: 10px;
        flex-shrink: 1;
    }

    h4 {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        justify-content: center;
        align-items: center; 
    }
    h5 {
        color: #000;
        text-align: center;
        /* Title/Filter */
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        
    }

    nav.menu {
        display: flex;
        flex-direction: row;
        padding: 0px 50px 50px 0px;
        
        
    }
/**************************** sous-section: InfoBar *********************************/

    

    .hebergements-and-populaires {
        flex-direction: column;
    }
    section.offers {
        flex-direction: column;
        width: 100%;
    }

    .hebergements {
        display: flex;
        width: 100%;
    }

    section.offersSponsored {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding:10px;
        height: 400px;
        margin:auto;
        background-color: rgb(68, 97, 24);
    }

    .populaires {
        display: flex;
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        display: flex;
        width: 30%;
    }

    .populaires-cards .card-title {
        display: flex;
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        display: flex;
        font-size: 13px;
    }

    .container {
        display: flex;
        flex-shrink: 2;
        
    }
    

    

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    body {
        display: flex;
        flex-direction: column;
        gap: 35px;
       
    }
    main {
        margin: 0;

    }


/************  header  **************************/
    header {
       flex-direction: column;
       justify-content: center;
       
    } 

/************  section logo Reservia  **************************/
    
    div#logocontainer {
       justify-content: center;
        padding: 30px;
        align-self: center;
    }  

    #logocontainer {
        justify-content: center;
    }   

    /************  section menu  **************************/
    #activitesNav,#hebergementsNav {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        align-self: stretch;
    }

    #activitesNav:hover,#hebergementsNav:hover {   /* apparition bar bleu au survol  */
        border-top-color: transparent;
        border-bottom-color: #0065FC;
        font-weight: 300;
        width: 100%;
    }
       
    
    a:link {
        color: var(--blue, #0065FC);
        cursor: pointer;
       
    }
    
        
    nav.menu {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        gap: 1.5px;
        align-items: center;
        padding: 0px;
       
    }
      
    
    #hebergementNav, #activiteNav {
        display: flex;
        flex-direction: row;
    }
    /************  section infogroupe  **************************/
        

     /************** Partie SearchBar = "Recherche" ***************************/
    #searchBar {
        display: flex;
        width: 100%;
    }
    input {
        display: flex;
        width: 100%;
    }
    /* On masque le bouton rechercher */
    .boutonRechercher_DesktopTablette {
        display: none
    }
    /* Affichage du bouton loupe pour mobile */
    button.boutonRechercher_Mobile {
        display: flex;
        background-color: #0065FC;
        color: white;
        height: 46px;
        border: none;
        border-radius: 18px;
        padding-left: 19px;
        padding-right: 19px;
        /* position relative et rigth 15px pour décaler le bouton "loupe" légèrement vers la gauche sur le champ de recherche */
        position: relative;
        right: 15px;
    }
    /* Dimensionnement de l'icône "loupe" */
    .fa-magnifying-glass {
        display: flex;
        font-size: 18px;
        color: #DEEBFF;
        line-height: 2.6;
    }
    
    
    /**************************** filterBar = filtres*********************************/
    h4 {
        flex-direction: column;
        
    }
    .filtre {
        flex: 1 0 0;
    }
    
    article#filterBar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
        padding: 2px;
        align-self: stretch;
        
    }
    div#frame16, div#frame17 {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
        align-self: stretch;
    }   
    div#choix {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        flex-grow: 1;
    }

    h5 {
        display: flex;
        padding: 0 30px 30px 0;

    }

    #familial {
        display: flex;
        flex-grow: 1;

    }



  /********** section offers   ***********************/
   
    
    section.offers {
        flex-wrap: wrap-reverse;
        width: 100%;
    }
    section.offersMain {
        flex-wrap: wrap;
        width: 100%;
    }
    
    section.Sponsored {
        
        flex-direction: column;
        background-color: #0065FC;
    }
    section.activite {
        flex-direction: column;

    }
    .box {
        display: flex;
        flex-direction: column;
    }
    
    section.footer {
        flex-direction: column;
    }
    .logoReservia {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    
    .element1 {
        display: flex;
        background-color : orange;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
      
    }
    .element2 {
        display: flex;
        background-color : blue;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        
       
    }
    .element3 {
        display: flex;
        background-color : rgb(7, 73, 7);
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start:3;
        grid-row-end: 4;
        
        
    }
    .element4 {
        display: flex;
        background-color: rgb(199, 238, 59);
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
        
        
    }
    .element5 {
        display: flex;
        background-color: rgb(76, 182, 182);
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 6;
        
       
    }
    .element6 {
        display: flex;
        background-color: rgb(145, 58, 58);
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        flex-shrink: 1;
    }
}
}
