@media (max-width: 1440px) {                          /*  derniere modif le 07/07/2023 */
    * {
        
        font-family: 'Raleway', sans-serif;
        box-sizing: border-box; /*  bordure et remplissage défini pour la page */
        margin: 0;
    }
        
    :root {
        --main-color: #0065FC;
        --main-bg-color: #F2F2F2;
        --filter-bg-color: #DEEBFF;
    }
        
    .fa-solid {
        color: var(--main-color);
    }
        
    body {
        display: flex;
        flex-direction: column;
        margin: 0;
        
    }
    main {
        display:flex;
        flex-direction: column;
        padding:50px;
        padding:50px;

    }
        
    a:-webkit-any-link {
        display: flex;
        font-family: 'Raleway', sans-serif;
        color: var(--blue, #0065FC);
        height: 22px;
        justify-content: space-between;
        padding: 19px;
        cursor: pointer;
        text-decoration-color: var(--blue, #093577)  ;
    }
    
    p {
        display: flex;
        flex-direction: row;
        color: #000;
    }

    
    
 
    /************  header  **************************/
    header {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: start;
        
       
    }
    
    .div {
        display: flex;
    }
    /************ section logo Reservia  **************************/
    #logocontainer {
       
        display: flex;
        padding: 30px;
    }
    #logoBooki {
        display: flex;
        width: 40%;          
        overflow: clip;
        
        
    }
    
    
   
    /************  menu  **************************/
    nav.menu {
        display: flex;
        flex-direction: row;
        font-weight: 500;
        height: 35px;
        padding: 25px 0;
        gap: 15px;
        
      
       
    }

    form {
        width: 100%;
        justify-self: baseline;
    }
   
    
       
    #activitesNav:hover, #hebergementsNav:hover {          /* coloration au survol  */
        border-top-color: var(--blue, #0065FC);
        font-weight: 500;
        
        padding-top: 35px;
        
    }
    #activitesNav,#hebergementsNav {
        display:flex;
        flex-direction: row;
        font-size: 16px;
        font-family: 'Raleway', sans-serif;
        padding-top: 35px;
        color: #000;
       
        height: 35px;
        justify-content: center;
        background-color:transparent; 
        border-top-width: 2px;
        border-color: transparent;
        width: 100%;
        justify-content:left;
    }

    #activitesNav:hover,#hebergementsNav:hover, #hebergementsNav:focus,#activitesNav:focus, #activitesNav:active #hebergementsNav:active {
        color: #0065FC;
        cursor: pointer;
    }
        
    

   
    
    /************** section InfoGroup = navigation ****************************************/
    section.infogroup {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 35px;
        
        
        
    }
    /************** sous-section "headline"= rechercher        --> navigation ****************************************/
    article.Presentation {
        display: flex;
        flex-direction: column;
    }
    h1 {
        display: flex;
        flex-wrap: wrap;
        font-size: 22px;
        font-weight: bold; /*pour mettre la police légèrement gras */
        margin-bottom: 8px;
    }
    h2 {
        display: flex;
        flex-direction: row;
        font-weight: lighter; /*pour mettre la police légèrement gras */
        font-size: 16px;
    }
    
    /************** sous-section "searchBar"= recherche --> navigation ****************************************/
    
        
    }
    #SearchBar {
        display: flex;
        flex-direction: row;
        margin-top: 0;
    }
    input {
        display: flex;
        flex-direction: row;
        font-size: 16px;
        height: 46px;
        padding: 15px;
        width: 45%;
        border: 1px solid #F2F2F2;
        color: #000000;
        font-weight: bold;
        font-size: 18px;
        outline: none; /* Pour supprimer le contour */
    }
        input[type=search]:focus {
        border: 1px solid #F2F2F2;
    }
    /* Modifie la couleur de fond de l'autocomplétion */
        input:-webkit-autofill,
        input:-webkit-autofill:hover, 
        input:-webkit-autofill:focus {
        box-shadow: 0 0 0px 1000px white inset;
        -webkit-box-shadow: 0 0 0px 1000px white inset;
    }
    /* Modification de la police dans le champs de recherche */
    ::placeholder {
        color: black;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        opacity: 1; /* pour foncer la couleur de la police dans firefox */
    }

    /* Mise en forme du bouton rechercher sur ordinateur et tablette */
    .boutonRechercher_DesktopTablette {
        display: flex;
        background-color: #0065FC;
        color: white;
        width: 133px;
        height: 46px;
        border: 0px solid #F2F2F2;
        border-radius: 0px 15px 15px 0px;
        font-weight: bold;
        font-size: 15px;
        justify-content: center;
        align-items: center;
    }
    button.boutonRechercher_Mobile {
        display:none;
       
    }
    .boutonRechercher_DesktopTablette:hover, .boutonRechercher_DesktopTablette:focus, .boutonRechercher_DesktopTablette:active {
        border: 1px solid #DEEBFF;
        cursor: pointer;
    }
    /* Icône barre de recherche */
    .fa-location-dot {
        display: flex;
        flex-direction: row;
        font-size: 17px;
        width: 2.5%;
        height: 46px;
        top: 15px;
        left: 18px;
        border: 2px solid #F2F2F2;
        background-color: #F2F2F2;
        padding-right: 16px;
        padding-left: 18px;
        border-radius: 15px 0px 0px 15px;
        line-height: 2.8;
    }
    /************** sous-section "filterBar"=  Filtres --> navigation ****************************************/
   
    #filterBar{
        display: flex;
        flex-wrap: nowrap;
        height: 30px;
        justify-content: left;
        align-items:baseline; 
        gap:20px;
    }

    #frame16, #frame17 {
        display: flex;
        flex-wrap: nowrap;

        
    }
    #choix {
        display:flex;
        flex-direction: row;
       
    }
    .filtre {
        display: flex;
        flex-wrap: nowrap;
        border: 0;
        height: 40px;
        gap: 10px;
        font-size: 22px;
        color: #fffefe;
        /* contour du bouton */
        background-color:#fffefe; 
        border-radius: 25px;
        border: 2px solid var(--grey-tint-2, #D9D9D9);
    }

    form#economique, form#romantique, form#familial, form#pepites {
        display: flex;
        flex-wrap:nowrap ;
        justify-content: center;
        gap: 15px;
       
    }
    
    button  {
        display: flex;
        border-width: 2px;
       
    }
    
   
    .filtre:hover {
        background-color: var(--blue-light, #DEEBFF);
    }
    
    .filtre:active {
        box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
    }

    span {
        display: inline-block;
        flex-direction: row-reverse;
    }

    .aspect_filtres:hover, .aspect_filtres:focus, .aspect_filtres:active{
        color: #0065FC;
        cursor: pointer;
    }
    
    h4 {
        display: flex;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        align-items: center;
    }
    
    h5 {
        display: flex;
        flex-wrap: nowrap;
        font-size: 18px;
        color: #000;
        font-family: 'Raleway'sans-serif;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        justify-content: center;
        
    }
    
    .fa-money-bill-wave, .fa-person,.fa-fire, .fa-heart {
        display: flex;
        flex-wrap: nowrap;
        padding-left: 17px;
        line-height: 1;   /* pour recentrer les icônes */
        
    } 
    
    
    /************** sous-section "infoBar"= information  -> navigation ****************************************/
    
    .fa-circle-info  {
        display: flex;
        flex-direction: row;
       
    }
    
    .info_icon {
        display: flex;
        flex-direction: row;
    }    

    h3 {
        display:flex;
        flex-direction: row;
        font-weight: lighter;
        font-size: 16px;
        gap:35px;  
        
    }
    article.infoBar {
        display: flex;
        flex-direction: row;
    }
    
    
    /************** section de hébergement et populaire ****************************************/
    section.offers {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin:auto;
        background-color: var(--main-bg-color);
        border-radius: 20px;
        padding: 30px;
        box-sizing: border-box;
      
    }
    
    
    /************** section de "hébergement" ************ ****************************************/
    section.offersMain {
        display: flex;
        flex-wrap: wrap;
        width: 70%;
        padding:10px;
        margin:50px;
        background-color:plum; 
    }
    /************** section "populaire" ************ ****************************************/
    section.offersSponsored {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding:10px;
        height: 400px;
        margin:auto;
        background-color: greenyellow;
    }
    /************** section de activité ****************************************/
    
    
    section.activite {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        height: 200px;
        margin:auto;
        gap:20px;
        background-color: rgb(66, 168, 226);
    }
    /* container  */
    .container {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 10px;
        border: solid 2px #000
         
    }
    .box {
        display: flex;
        flex-direction: row;
    }
    
    
    .spaceAround {
        display: flex;
        justify-content: space-around;
         width: 100%;  
    }
    .element {
        display: flex;
        min-height: 150px;
        min-width: 200px;
        
    }
    .element1 {
        display: flex;
        background-color : orange;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        flex-shrink: 1;
    }
    .element2 {
        display: flex;
        background-color : blue;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        flex-shrink: 1;
       
    }
    .element3 {
        display: flex;
        background-color : rgb(7, 73, 7);
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start:1;
        grid-row-end: 2;
        flex-shrink: 1;
        
    }
    .element4 {
        display: flex;
        background-color: rgb(199, 238, 59);
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        flex-shrink: 1;
        
    }
    .element5 {
        display: flex;
        background-color: rgb(76, 182, 182);
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
        flex-shrink: 1;
       
    }
    .element6 {
        display: flex;
        background-color: rgb(145, 58, 58);
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        flex-shrink: 1;
       
    }
    
    
    
    /****** Populaires ***********/
    .populaires {
        display: flex;
        width: 32%;
    }
    
    .populaires-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .populaires-cards .card {
        display: flex;
        margin-top: 33px;
    }
    
    .populaires-cards img {
        display:flex;
        width: 33%;
        height: 136px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    
    .populaires-cards .card-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
        width: 67%;
        padding-left: 15px;
    }
    
    .populaires-cards .card-title {
        display:flex;
        margin-top: 10px;
        margin-bottom: 4px;
    }
    
    .populaires-cards .card-subtitle {
        display:flex;
        margin: 0;
    }
    
    .populaires-cards .card-rating {
        display: flex;
        margin-bottom: 5px;
    }
    
    /****** footer ***********/
    section.footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        height: 200px;
        margin:auto;
        gap:20px;
        background-color:rosybrown;
    }

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

/**************************** header****************/

 #logocontainer {
        
        padding: 30px 50px 30px 50px;
    }    







 /**************************** filterBar = filtres*********************************/
    #filterBar {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 20px;
    }
    #choix {
        display:flex;
        flex-direction: row;
    }
    #frame16, #frame17 {
        display: flex;
        flex-wrap:nowrap;
    }

    h5 {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        justify-content: center;
        align-items: center; 
    }

/**************************** sous-section: InfoBar *********************************/

    

    .hebergements-and-populaires {
        flex-direction: column;
    }
    section.offers {
        flex-direction: column;
        width: 100%;
    }

    .hebergements {
        display: flex;
        width: 100%;
    }

    section.offersSponsored {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding:10px;
        height: 400px;
        margin:auto;
        background-color: rgb(68, 97, 24);
    }

    .populaires {
        display: flex;
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        display: flex;
        width: 30%;
    }

    .populaires-cards .card-title {
        display: flex;
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        display: flex;
        font-size: 13px;
    }

    .container {
        display: flex;
        flex-shrink: 2;
        
    }
    

    

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

 body {
        display: flex;
        flex-direction: column;
        gap: 35px;
       
    }
    main {
        margin: 0;

    }


/************  header  **************************/
    header {
       flex-direction: column;
       justify-content: center;
       
    } 

/************  section logo Reservia  **************************/
    
    #logocontainer {
       justify-content: center;
        padding: 30px;
        
        
    }
    /************  section menu  **************************/
    #activitesNav {
        display: flex;
        align-content:left;
    }

    #hebergementsNav {
        display: flex;
        justify-content:right;
    }

    a:link {
        color: var(--blue, #0065FC);
        cursor: pointer;
        
    }
        
       
    #logocontainer {
        justify-content: center;
    }   
/************  section Menu  **************************/

     #activitesNav:hover,#hebergementsNav:hover {   /* apparition bar bleu au survol  */
        border-top-color: transparent;
        border-bottom-color: var(--blue, #0065FC);
        font-weight: 500;
    }
    
    .menu {
        display: flex;
        flex-direction: row;
        width: 110%;
        justify-content: space-between;
        gap: 10px;
    }
      
    nav {
        
        flex-direction: row;
        justify-content: center;
        align-items: center;
    } 
   
    #hebergementNav, #activiteNav {
        display: flex;
        flex-direction: column;
    }
    /************  section infogroupe  **************************/
        

     /************** Partie SearchBar = "Recherche" ***************************/
     #zone_recherche {
        display: flex;
        width: 70%;
    }
    input {
        display: flex;
        width: 100%;
    }
    /* On masque le bouton rechercher */
    .boutonRechercher_DesktopTablette {
        display: none
    }
    /* Affichage du bouton loupe pour mobile */
    button.boutonRechercher_Mobile {
        display: flex;
        background-color: #0065FC;
        color: white;
        height: 49px;
        border: none;
        border-radius: 18px;
        padding-left: 19px;
        padding-right: 19px;
        /* position relative et rigth 15px pour décaler le bouton "loupe" légèrement vers la gauche sur le champ de recherche */
        position: relative;
        right: 15px;
    }
    /* Dimensionnement de l'icône "loupe" */
    .fa-magnifying-glass {
        display: flex;
        font-size: 18px;
        color: #DEEBFF;
        line-height: 2.8;
    }
    
    /**************************** filterBar = filtres*********************************/
    #frame16, #frame17 {
        
        flex-wrap: wrap;
        align-items: baseline;
        align-self: stretch;
    }
    #filterBar{
        
        flex-wrap: wrap;
        align-items: baseline;
    }
    #frame16, #frame17 {
        display: flex;
        flex-wrap: wrap;
        gap:10px;
        justify-content: center;
    }
    #choix {
        
        flex-direction: column;
        margin-top: 20px;
        justify-content: center;
        
        gap: 20px;
        
    }
    h5 {
        display: flex;
        padding: 0 30px 30px 0;

    }
    #familial {
        display: flex;
        flex-grow: 1;

    }



  /********** section offers   ***********************/
   
    
    section.offers {
        flex-wrap: wrap-reverse;
        width: 100%;
    }
    section.offersMain {
        flex-wrap: wrap;
        width: 100%;
    }
    
    section.Sponsored {
        
        flex-direction: column;
        background-color: #0065FC;
    }
    section.activite {
        flex-direction: column;

    }
    .box {
        display: flex;
        flex-direction: column;
    }
    
    section.footer {
        flex-direction: column;
    }
    .logoReservia {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    
    .element1 {
        display: flex;
        background-color : orange;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
      
    }
    .element2 {
        display: flex;
        background-color : blue;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        
       
    }
    .element3 {
        display: flex;
        background-color : rgb(7, 73, 7);
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start:3;
        grid-row-end: 4;
        
        
    }
    .element4 {
        display: flex;
        background-color: rgb(199, 238, 59);
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
        
        
    }
    .element5 {
        display: flex;
        background-color: rgb(76, 182, 182);
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 6;
        
       
    }
    .element6 {
        display: flex;
        background-color: rgb(145, 58, 58);
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        flex-shrink: 1;
    }
}
}
